* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-image: url(suti/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Schoolbell', cursive;
    min-height: 100vh;
    min-width: 100vw;
    padding: 64px 32px;
}

main {
    max-width: 90vw;
    min-height: calc(100vh - 128px);
    text-align: center;
    background-color: #ffffff;
    border-radius: 12px;
    border: 3px solid black;
    display: grid;
    grid-template-columns: auto;
    gap: 48px;
    margin: auto;
    height: fit-content;
    margin: auto;
}
.elso {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 48px;
    align-items: start;
}

a {
    color: #8d5b1a;
    background-color: #feda70;
    font-size: 20px;
    padding: 0.5rem;
    border-radius: 12px;
    border: 2px solid black;
    text-decoration: none;
    display: inline-block;
    margin-top: 30px;
}
h1 {
    font-size: 28px;
    font-weight: 400;
    text-align: left;
}
h2 {
    font-size: 56px;
    font-weight: 400;
    text-align: left;
}
p {
    font-size: 24px;
    max-width: 60ch;
    font-weight: 400;
    text-align: left;
}
.kiemelt {
    color: brown;
}

article img {
    width: 100%;
    height: 550px;
    object-fit: contain;
}
article table {
    grid-column: 1 / -1;
}
aside img {
    max-width: 100%;
    display: block;
}
table {
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
    margin-top: 32px;
}

td {
    padding: 12px;
    border: 1px solid #8b5a2b;
}
tr:nth-child(odd){
   background-color: #8b5a2b; 
}
tr:nth-child(even){
    background-color: #feda70;
}

aside {
    display: grid;
    gap: 24px;
    justify-items: center;
}
section {
    padding: 0% 15%;
}
footer {
    border-radius: 12px;
    background-color: #8b5a1b;
    color: #feda70;
    padding: 10px 15%;
    margin-top: 22px;
    margin-bottom: 35px;
}
@media screen and (max-width: 768px) {
    .elso {grid-template-columns: 1fr}
}