* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-image: url(suti/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Schoolbell', cursive;
    min-height: 100vh;
    min-width: 100vw;
    padding: 64px 32px;
}

main {
    max-width: 90vw;
    min-height: calc(100vh-128px);
    text-align: center;
    background-color: #ffffff;
    border-radius: 12px;
    border: 3px solid black;
    display: grid;
    grid-template-columns: auto;
    gap: 20px;
    margin: auto;
}
section {
    padding: 32px;
}
a {
    color: #8d5b1a;
    background-color: #feda70;
    font-size: 20px;
    padding: 0.5rem;
    border-radius: 12px;
    border: 2px solid black;
}
h1 {
    font-size: 28px;
    font-weight: 400;
}
h2 {
    font-size: 56px;
    font-weight: 400;
}
p {
    font-size: 24px;
    max-width: 60ch;
    font-weight: 400;
}
.kiemelt {
    color: brown;
}
article {
    height: fit-content;
    max-width: 1080px;
    margin: auto;
    display: grid;
}
article img {
    width: 100%;
    height: 550px;
    object-fit: cover;
}